
body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-around;
}

.logo img {
    max-width: 500px;
    max-height: 500px;
}

.content {
    text-align: center;
}

.input-group {
    margin-bottom: 10px;
}

.input-group input {
    padding: 10px;
    width: 350px;
    border: 1px solid #ccc;
    border-radius: 15px;
    font-size: 16px;
}

.login-button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.forgot-password-link a {
    color: #007BFF;
    text-decoration: none;
}
