/* styles.css */
body {
    background-image: url("image/img2.png");
  background-position-x: right;
  background-size: 52%;
    background-repeat: no-repeat;
    align-content:center ;
}


.content {
    color: white;
    text-align:right;
    

}
.image-container {
  
    height: 100vh; 
}
.image-container img {
 object-position:top;
    height: 40%; 
}
.content button {
    width: 350px;
    height: 70px;
    margin-right: 70%; 
    border-radius: 40px;
    background-color: rgb(31, 78, 249);
    color: aliceblue;
    text-decoration: solid;
    font-size: 30px;
}