.dashboard-title {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
}

.account-container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1200px;
  background-color: #f8f8f8;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.btn{
  background-color: #007BFF;
  color: #e9ecef;
  font-size: 1em;
  cursor: pointer;
}
.account-navigation {
  width: 30%;
  border-right: 1px solid #e5e5e5;
  padding-right: 20px;
}


.tabs {
  display: flex;
  flex-direction: column;
}

.tab {
  padding: 15px 0;
  font-size: 18px;
  color: #007BFF;
  text-decoration: none;
  margin-bottom: 15px;
  transition: color 0.3s;
}

.tab:hover {
  color: #0056b3;
}

.admin-links {
  margin-top: 20px;
}

.btn-link {
  padding: 10px 15px;
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-link:hover {
  background-color: #0056b3;
}

.account-settings {
  width: 68%;
  padding-left: 20px;
}

.panel {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.panel-heading {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
}

.panel-content {
  font-size: 16px;
}

.account-email-wrapper p {
  margin: 0;
  display: flex;
  align-items: center;
}

.account-email-wrapper button {
  margin-left: 10px;
}

.reservations-panel {
  /* Add any additional styling for the reservations panel here */
}
